<ng-template #loading >
  <div style="text-align: center;">
    <app-spinner></app-spinner>
  </div>
</ng-template>

<ng-template #petsTemplate>
<div class="container">
  <div class="row">
      <div class="card col-3" style="background-color: rgb(80, 179, 77);" *ngFor="let animal of petsArr">
        <img class="card-image responsive" [src]="animal.image" alt="animal pic" />
        <div class="card-body">
          <h5 class="card-title">{{animal.name}}</h5>
          <p class="card-text">
            {{animal.description}}
          </p>
          <a (click)="showDetails(animal.id)" class="btn btn-primary">See Details</a>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #noPetsTemplate>
    <article class="not-available-blogs">
      <h1>No Pets To Be Shown</h1>
      <h2>Our Database Is Empty</h2>
      <p><a routerLink="/" class="btn btn-primary">Go Back Home</a></p>
  </article>
  </ng-template>

<ng-container *ngTemplateOutlet="isLoading ? loading : petsArr.length > 0 ? petsTemplate : noPetsTemplate"></ng-container>