<div class="details-container">
    <div class="details-container-image">
        <img src="{{pet.image}}" alt="image to be shown here">
    </div>
    <div class="details-container-info">
        <h2>Name: {{pet.name}}</h2>
        <h4>Type: {{pet.type}}</h4>
        <h4>Years: {{pet.age}}</h4>
    </div>
    <div class="details-container-content">
        <p><strong>About {{pet.name}}: </strong>{{pet.description}}</p>
    </div>
    <div class="btn-container">
        <button class="btn btn-primary"(click)="editHandler()">Edit</button>
        <button class="btn btn-primary" style="background-color: green;">Adopt</button>
        <button class="btn btn-primary" style="background-color: rgb(221, 31, 31);" (click)="deleteHandler()">Delete</button>
    </div>
</div>