<div class="container">
  <form #registerForm="ngForm" (ngSubmit)="registerHandler(registerForm)">
    <div class="alert alert-danger" *ngIf="error">
      <p>{{ error }}</p>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input
        #emailInput="ngModel"
        required
        type="email"
        class="form-control"
        id="inputEmail"
        name="email"
        placeholder="Email"
        ngModel
        email
      />
      <ng-container *ngIf="emailInput.touched">
        <p class="error" *ngIf="emailInput.errors?.['required']">
          Email is required
        </p>
      </ng-container>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Username</label>
      <input
        #usernameInput="ngModel"
        required
        type="username"
        class="form-control"
        id="inputUsername"
        name="username"
        placeholder="Username"
        ngModel
      />
      <ng-container *ngIf="usernameInput.touched">
        <p class="error" *ngIf="usernameInput.errors?.['required']">
          Username is required
        </p>
      </ng-container>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input
        #passwordInput="ngModel"
        required
        type="password"
        class="form-control"
        id="inputPass"
        name="password"
        placeholder="******"
        ngModel
      />
      <ng-container *ngIf="passwordInput.touched">
        <p class="error" *ngIf="passwordInput.errors?.['required']">
          Password is required
        </p>
      </ng-container>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Repeat Password</label>
      <input
        #rePasswordInput="ngModel"
        required
        type="password"
        class="form-control"
        id="inputRePass"
        name="repassword"
        placeholder="******"
        ngModel
      />
      <ng-container *ngIf="rePasswordInput.touched">
        <p class="error" *ngIf="passwordInput.value !== rePasswordInput.value">
          Passwords do not match
        </p>
      </ng-container>
    </div>
    <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary">Register</button>
    <div>
    <a routerLink="/auth/login">Already have an account ?</a>
    </div>
  </form>
</div>
