<div class="about">
    <h2>About Us</h2>
    <p><strong>We are a non-profit organization, which goal is to find home to all the pets that are left alone for some
            reason.
            In case you are not able to adopt a pet, you can always help by donating or volunteering in out shelter.
            Everyone is free to come on sight and help with whatever. </strong>
        <br>
        <br>
        <strong>Contact</strong>: +359-754-343-553
        <br>
        <strong>Location</strong>: Plovdiv, 43rd Svoboda street
    </p>
    <button class="btn btn-primary" routerLink="/catalog">See Friends</button>
</div>