/* You can add global styles to this file, and also import other style files */
body {
    background-image: url('C:/js_projects/ANGULAR/pet-pal/src/app/core/home/dogpaws.jpg')
}

.error {
    color: red;
    font-weight: bold;
   
}